<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://rrbebclkhexlfkexqrvf.supabase.co</string>
	<key>SUPABASE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyYmViY2xraGV4bGZrZXhxcnZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ2MzA0MTcsImV4cCI6MjA2MDIwNjQxN30.b1LSeG26N6NJajNYghnWfzngXwU_mf0Obh2tqUduHGY</string>
</dict>
</plist>
